-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: localhost    Database: task_force
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'translation','Курьерские услуги'),(2,'clean','Уборка'),(3,'cargo','Переезды'),(4,'neo','Компьютерная помощь'),(5,'flat','Ремонт квартирный'),(6,'repair','Ремонт техники'),(7,'beauty','Красота'),(8,'photo','Фото');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `feedbacks`
--

LOCK TABLES `feedbacks` WRITE;
/*!40000 ALTER TABLE `feedbacks` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedbacks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `offers`
--

LOCK TABLES `offers` WRITE;
/*!40000 ALTER TABLE `offers` DISABLE KEYS */;
INSERT INTO `offers` VALUES (2,2,12,'We will do everything without noise and dust'),(5,5,15,' gkeik lvllep nale lnlks lne'),(7,7,17,'We will do everything without noise and dust'),(8,8,18,'I am grut'),(9,9,19,'Can do it one month'),(10,10,20,' gkeik lvllep nale lnlks lne'),(12,2,12,'We will do everything without noise and dust'),(15,5,15,' gkeik lvllep nale lnlks lne'),(17,2,17,'We will do everything without noise and dust'),(20,5,20,' gkeik lvllep nale lnlks lne'),(21,1,11,'I best piano mover'),(22,1,11,'I best piano mover'),(23,1,16,'I best piano mover');
/*!40000 ALTER TABLE `offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_actions`
--

LOCK TABLES `task_actions` WRITE;
/*!40000 ALTER TABLE `task_actions` DISABLE KEYS */;
INSERT INTO `task_actions` VALUES (1,'ACTION_ADD_TASK','Добавить задание'),(2,'ACTION_OFFER','Откликнуться'),(3,'ACTION_FAILURE','Отказаться'),(4,'ACTION_CANCEL','Отменить'),(5,'ACTION_SET_CONTRACTOR','Выбрать исполнителя'),(6,'ACTION_COMPLETE','Завершить'),(7,'ACTION_ACCEPT','Принять'),(8,'ACTION_MESS','Написать сообщение');
/*!40000 ALTER TABLE `task_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_failings`
--

LOCK TABLES `task_failings` WRITE;
/*!40000 ALTER TABLE `task_failings` DISABLE KEYS */;
INSERT INTO `task_failings` VALUES (1,10,1);
/*!40000 ALTER TABLE `task_failings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_files`
--

LOCK TABLES `task_files` WRITE;
/*!40000 ALTER TABLE `task_files` DISABLE KEYS */;
INSERT INTO `task_files` VALUES (1,1,'Robby_project_1.pdf'),(2,2,'john_project_2.pdf'),(3,3,'Adel_project_3.pdf'),(4,4,'Sara_project_4.pdf'),(5,5,'john_project_2-1.pdf'),(6,6,'Robby_project_1-1.pdf'),(7,7,'Robby_project_1.pdf'),(8,8,'john_project_2.pdf'),(9,9,'Adel_project_3.doc'),(10,10,'Sara_project_4.doc'),(11,9,'john_project_2-1.doc'),(12,8,'Robby_project_1-1.doc'),(13,7,'Robby_project_1-1.doc'),(14,1,'Robby_project_1.psd'),(15,2,'john_project_2.psd'),(16,3,'Adel_project_3.psd'),(17,4,'Sara_project_4.psd'),(18,5,'john_project_2-1.psd'),(19,6,'Robby_project_1-1.psd');
/*!40000 ALTER TABLE `task_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_runnings`
--

LOCK TABLES `task_runnings` WRITE;
/*!40000 ALTER TABLE `task_runnings` DISABLE KEYS */;
INSERT INTO `task_runnings` VALUES (1,1,11),(2,2,12),(3,3,13),(4,4,14),(5,5,15),(6,6,16),(7,1,17),(8,8,18),(9,8,18),(10,8,18);
/*!40000 ALTER TABLE `task_runnings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_statuses`
--

LOCK TABLES `task_statuses` WRITE;
/*!40000 ALTER TABLE `task_statuses` DISABLE KEYS */;
INSERT INTO `task_statuses` VALUES (1,'STATUS_NEW','Новое'),(2,'STATUS_CANCELED','Отменено'),(3,'STATUS_RUNNING','Выполняется'),(4,'STATUS_COMPLETED','Выполнено'),(5,'STATUS_FAILED','Провалено');
/*!40000 ALTER TABLE `task_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_favorites`
--

LOCK TABLES `user_favorites` WRITE;
/*!40000 ALTER TABLE `user_favorites` DISABLE KEYS */;
INSERT INTO `user_favorites` VALUES (1,1,11,1),(2,2,12,1),(3,3,13,1),(4,4,14,1),(5,5,15,1),(6,6,16,1),(7,7,17,1),(8,8,18,1),(9,9,19,1),(10,10,20,1),(11,1,20,1),(12,2,19,1),(13,3,18,1),(14,4,17,1),(15,5,16,1),(16,6,11,1),(17,7,12,1),(18,8,13,1),(19,9,14,1),(20,10,15,1),(21,1,15,1),(22,2,14,1),(23,3,13,1),(24,4,12,1),(25,5,11,1);
/*!40000 ALTER TABLE `user_favorites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_notification_settings`
--

LOCK TABLES `user_notification_settings` WRITE;
/*!40000 ALTER TABLE `user_notification_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_notification_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_notifications`
--

LOCK TABLES `user_notifications` WRITE;
/*!40000 ALTER TABLE `user_notifications` DISABLE KEYS */;
INSERT INTO `user_notifications` VALUES (1,'notice_mess','Новое сообщение'),(2,'notice_action','Действия по заданию'),(3,'notice_feedback','Новый отзыв');
/*!40000 ALTER TABLE `user_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_portfolio_images`
--

LOCK TABLES `user_portfolio_images` WRITE;
/*!40000 ALTER TABLE `user_portfolio_images` DISABLE KEYS */;
INSERT INTO `user_portfolio_images` VALUES (1,1,'Robby_project_1.jpg'),(2,2,'john_project_2.jpg'),(3,3,'Adel_project_3.jpg'),(4,4,'Sara_project_4.jpg'),(5,5,'john_project_2-1.jpg'),(6,6,'Robby_project_1-1.jpg'),(7,7,'Robby_project_1.jpg'),(8,8,'john_project_2.jpg'),(9,9,'Adel_project_3.jpg'),(10,10,'Sara_project_4.jpg'),(11,11,'john_project_2-1.jpg'),(12,12,'Robby_project_1-1.jpg'),(13,13,'Robby_project_1-1.jpg'),(14,1,'Robby_project_1.jpg'),(15,2,'john_project_2.jpg'),(16,3,'Adel_project_3.jpg'),(17,4,'Sara_project_4.jpg'),(18,2,'john_project_2-1.jpg'),(19,1,'Robby_project_1-1.jpg');
/*!40000 ALTER TABLE `user_portfolio_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,'ROLE_CONTRACTOR','Исполнитель'),(2,'ROLE_CUSTOMER','Заказчик');
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_specializations`
--

LOCK TABLES `user_specializations` WRITE;
/*!40000 ALTER TABLE `user_specializations` DISABLE KEYS */;
INSERT INTO `user_specializations` VALUES (1,1,4),(2,2,3),(3,3,2),(4,5,1),(5,6,8),(6,7,6),(7,8,4),(8,9,3),(9,10,2),(10,11,1),(11,12,8),(12,1,6),(13,2,4),(14,3,3),(15,4,2),(16,5,7),(17,6,4),(18,7,5),(19,19,1),(20,20,3);
/*!40000 ALTER TABLE `user_specializations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-05-28 18:30:03
